{% extends 'user_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block title %} Register {% endblock title %}

{% block content %}
<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <img class="col-lg-6 d-none d-lg-block" src="{% static 'mainapp/img/login.jpg' %}">
            <div class="col-lg-6">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Реєстрація</h1>
                    </div>
                    <form class="user" method='POST'>
                        {% csrf_token %}
                        {{ form | crispy }}
                        <button class="btn btn-primary btn-user btn-block">Зареєструватися</button>

                    </form>
                    <hr>
                    <div class="text-center">
                        <a class="small" href="{% url 'password_reset' %}">Забули пароль?</a>
                    </div>
                    <div class="text-center">
                        <a class="small" href="{% url 'users:login' %}">Вже маєте обліковий запис? Увійти!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}
