<!-- Topbar -->

<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>
    <!-- Topbar Navbar -->
    <ul class="navbar-nav pl-4">
        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <img class="img-profile rounded-circle" src="{{ request.user.profile.image.url }}">
                <span class="ml-2 d-none d-lg-inline text-gray-600 small">
                    <b>{{ request.user.first_name }} {{ request.user.last_name }} </b>
                    <br>
                    {% if request.user.profile.is_teacher %} Учитель {% else %} Учень {% endif %}
                </span>
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{% url 'users:profile' %}">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Профіль
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Вийти
                </a>
            </div>
        </li>
        {% if request.path == '/classroom/' %}
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <span class="text-dark font-weight-bold">&#43;</span>
            </a>
            <!-- Dropdown - User Information -->
            <!-- Button trigger modal -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                {% if request.user.profile.is_teacher %}
                <a class="dropdown-item" data-toggle="modal" data-target="#exampleModalCenter" href="#">
                    Створити клас
                </a>
                <div class="dropdown-divider"></div>
                {{ trans }}
                <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal" href="#">
                    Приєднатись до класу
                </a>
                {% else %}
                <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal" href="#">
                    Приєднатись до класу
                </a>
                {% endif %}
            </div>

        </li>
        {% endif %}
    </ul>

    <ul class="navbar-nav ml-auto">
        {% if 'schedule' in request.path %}
        <li class="nav-item">
            {% if request.path == '/schedule/' %}
            <a class="nav-link border-bottom-primary" href="{% url 'schedule:schedule' %}">
                <span class="text-dark font-weight-bold">Розклад уроків</span>
            </a>
            {% else %}
            <a class="nav-link" href="{% url 'schedule:schedule' %}">
                <span>Розклад уроків</span>
            </a>
            {% endif %}
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'schedule:schedule' %}">
                <span>Зміни в розкладі</span>
            </a>
        </li>
        {% if request.path == '/schedule/calls/' %}
        <li class="nav-item">
            <a class="nav-link border-bottom-primary" href="{% url 'schedule:calls' %}">
                <span class="text-dark font-weight-bold">Розклад дзвінків</span>
            </a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'schedule:calls' %}">
                <span>Розклад дзвінків</span>
            </a>
        </li>
        {% endif %}
        {% endif %}
    </ul>

    <ul class="navbar-nav ml-auto pr-4">
        <a class="btn" href="#" data-toggle="modal" data-target="#logoutModal">
            Вийти
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
        </a>
    </ul>

</nav>

<!-- End of Topbar -->
