{% extends 'assignment_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block title %} Редагувати завдання {% endblock title %}

{% block content %}
<form action ="{% url 'classroom:assignment_edit' assignment.pk %}" method="POST" enctype='multipart/form-data'>
    {% csrf_token %}
    <nav class="navbar navbar-light bg-light">
        <div class="navbar-brand">
            <a href="{% url 'classroom:assignment_submit' assignment.pk %}"><i class="fas fa-times"></i></a>
            <div class="pl-3 float-right">Завдання</div>
        </div>
        <div class="form-inline">
            <div class="btn-group" role="group">
                <button type="submit" class="btn btn-secondary">Оновити</button>
            </div>
        </div>
    </nav>
    <!-- Make a form here -->
    <div class="row m-3">
        <div class="col-lg-8">
            <div class="form-group">
                <h5 for="title">Назва</h5>
                {{ form.title|attr:"class:form-control" }}
            </div>
            <hr>
            <div class="form-group">
                <h5 for="description">Опис</h5>
                {{ form.description|attr:"class:form-control" }}
            </div>
            <hr>
            <div class="form-group">
                {{ form.file_field|attr:"class:choose" }}
            </div>
            <div class="col-6">
                <h5 for="files">Файли поста</h5>
                <div class="form-group">
                    <label>Перезаписати файли?</label>
                    {{ form.owerride_files }}
                </div>
                {% for resource in assignment.resources %}
                <div class="card mb-3 ml-2">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="{% static 'mainapp/img/file1.png' %}"
                                 class="card-img"
                                 alt="..." style="width: 60px">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title "><a target="_blank"
                                                           href="{{ resource.files.url }}">{{ resource.filename|truncatechars:25 }}</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-4 vl v p-3 mt-sm-2">
            <!-- For -->
            <hr class='d-lg-none d-sm-block'>
            <h5>Клас</h5>
            <div class="row">
                <div class="col">
                    {{ form.classrooms|attr:"class:form-control" }}
                </div>
            </div>
            <hr>
            
            <!-- Points -->
            <h5>Максимальна оцінка</h5>
            <div class="row">
                <div class="col">
                    {{ form.points|attr:"class:form-control" }}
                </div>
            </div>
            <hr>

            <!-- Due -->
            <h5>Дата здачі</h5>
            <div class="row">
                <div class="col">
                     {{ form.due_date|attr:"class:form-control"|attr:"type:datetime-local" }}
                </div>
            </div>
            <hr>
            
            <!-- Topic -->
            <h5>Тема</h5>
            <div class="row">
                <div class="col">
                    {{ form.topics|attr:"class:form-control" }}
                </div>
            </div>
            <hr>

        </div>

    </div>
</form>
{% endblock content %}