{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block title %} Home {% endblock title %}


{% block content %}
<div class="col-lg-8 mx-auto">
    <!-- Teachers -->
    <div class="row mt-4">
        <div class="col-lg-8">
            <h3 class="text-primary font-weight-bold">Вчителі</h3>
        </div>
          <div class="col-lg-4 ">
            <p class="text-primary ml-auto float-right">{{ teachers|length }}</p>
          </div>
    </div>
    <hr>

    {% for teacher in teachers %}
      <div class="row">
        <img width="25px" height="25px" class="img-profile rounded-circle" src="{{ teacher.teacher.profile.image.url }}" style="margin-left: 15px">
        <p class="text-dark" style="margin-left: 10px">{{ teacher.teacher.first_name }} {{ teacher.teacher.last_name }}</p>
      </div>
    {% endfor %}


    <!-- Students -->
    <div class="row mt-4">
      <div class="col-lg-8">
        <h3 class="text-primary font-weight-bold">Учні</h3>
      </div>
      <div class="col-lg-4 ">
        <p class="text-primary ml-auto float-right">{{ students|length }}</p>
      </div>
    </div>
    <hr>

    {% for student in students %}
      <div class="row">
        <img width="25px" height="25px" class="img-profile rounded-circle" src="{{ student.profile.image.url }}" style="margin-left: 15px">
        <p class="text-dark" style="margin-left: 10px">{{ student.first_name }} {{ student.last_name }}</p>
      </div>
    {% endfor %}
</div>
{% endblock content %}