{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block title %} Перевірка завдань {% endblock title %}

{% block content %}
<div class = "ml-lg-5 mr-lg-5">
    <div class="accordion" id="accordionExample">
      {% for assignment in assignments %}
        <!-- CARD -->
        <div class="card mb-2">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{ assignment.pk }}" aria-expanded="true" aria-controls="collapseOne">
                {{ assignment.title }}
              </button>
            </h2>
          </div>
          <div id="collapse{{ assignment.pk }}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
               <small>Опубліковано {{ assignment.created_at }}</small>
               <p>{{ assignment.description }}</p>
               <div class = "d-flex flex-row-reverse">
                    <div class="p-2 border-left border-secondary">
                        <h1 class="text-dark">{{ assignment.total_turned_in  }}</h1>
                        <br>
                        <p>Здали</p>
                    </div>
                    <div class="p-2 border-left border-secondary">
                        <h1 class="text-dark">{{ assignment.total_missing }}</h1>
                        <br>
                        <p>Не здали</p>
                    </div>
               </div>
            <hr>
            <div class="d-flex flex-row bd-highlight mb-3">
                <a class = "p-2" href = "{% url 'classroom:assignment_submit' assignment.pk %}" >Переглянути завдання</a>
                <a class = "p-2" href = "{% url 'classroom:student_work' assignment.pk %}" >Переглянути роботу учня</a>
                <a class = "p-2" href = "{% url 'assignments:view_grades' assignment.pk %}" >Переглянути оцінки</a>
            </div>
          </div>
        </div>
      </div>
      <!-- END CARD -->
      {% endfor %}
</div>


{% endblock %}