{% extends 'base.html' %}
{% load static %}
{% block title %} Schedule {% endblock title %}


{% block content %}
    <div class="panel">
        <div class="panel-section">
            <h2>Розклад уроків</h2>
        {% if request.user.profile.is_teacher %}
            <table class="table table-bordered">
                    <tr>
                        <th colspan="6" class="n" style="text-align: center">Вчитель: {{ request.user.last_name }} {{ request.user.first_name }}</th>
                    </tr>
                <tr>
                    <th></th>
                    {% for weekday in weekdays %}
                        <th>{{ weekday.name_day }}</th>
                    {% endfor %}
                </tr>

                {% for call in calls %}
                    <tr>
                        <th>{{ call.lesson_number }}</th>
                        {% for weekday in weekdays %}
                            <td>
                                {% for schedule in schedules %}
                                    {% if schedule.days == weekday %}
                                        {% if schedule.number_lesson == call %}
                                <span>{{ schedule.name_lesson }} <p><br><strong>Клас:</strong> {{ schedule.class_name }}</span>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        {% elif request.user.profile.is_student %}
            <table class="table table-bordered">
                {% for form in forms %}
                    <tr>
                        <th colspan="6" class="n" style="text-align: center">{{ form.class_name }}</th>
                    </tr>
                {% endfor %}
                <tr>
                    <th></th>
                    {% for weekday in weekdays %}
                        <th>{{ weekday.name_day }}</th>
                    {% endfor %}
                </tr>

                {% for call in calls %}
                    <tr>
                        <th>{{ call.lesson_number }}</th>
                        {% for weekday in weekdays %}
                            <td>
                                {% for schedule in schedules %}
                                    {% if schedule.days == weekday %}
                                        {% if schedule.number_lesson == call %}
                                <span>{{ schedule.name_lesson }} <p><br><strong>Вчитель:</strong> {{ schedule.teacher.first_name }} {{ schedule.teacher.last_name }}</span>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        </div>
    </div>
{% endblock %}