{% extends 'base.html' %}
{% load static %}
{% block title %} Schedule {% endblock title %}


{% block content %}
<div class="panel">
    <div class="panel-section">
        <h2>Розклад уроків</h2>
        <table border="1">
            {% for clas in classes %}
            <tr>
                <th colspan="6" class="n" style="text-align: center">{{ clas.class_name }}</th>
            </tr>
            {% endfor %}
            <tr>
                <th></th>
                {% for weekday in weekdays %}
                <th>{{ weekday.name_day }}</th>
                {% endfor %}
            </tr>

            {% for call in calls %}
            <tr>
                <th>{{ call.lesson_number }}</th>
                {% for weekday in weekdays %}
                <td>
                    {% for schedule in schedules %}
                    {% if schedule.days == weekday %}
                    {% if schedule.number_lesson == call %}
                    <span>{{ schedule.name_lesson }} <p>Вчитель: {{ schedule.teacher.last_name }} {{ schedule.teacher.first_name }}</span>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="panel-section">
        <h2>Розклад дзвінків</h2>
        <table border="1">
            <tr>
                <th></th>
                <th>Початок уроку</th>
                <th>Кінець уроку</th>
                <th>Перерва</th>
            </tr>
            {% for call in calls %}
            <tr>
                <th>{{ call.lesson_number }}</th>
                <td>
                    <span>{{ call.starting_lesson }}</span>
                </td>
                <td>
                    <span>{{ call.ending_lesson }}</span>
                </td>
                <td>
                    <span>{{ call.pause }} хвилин </span>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}