{% extends "base.html" %}

{% block title %}Журнал клас {{ group.grade }} {% endblock %}

{% block content %}
    <h1>Классний журнал - {{ group.grade }}</h1>

    <h2>Предмети {{ group.grade }} класу</h2>
    <table class="table-journal">
        <thead>
            <tr>
                <th>№</th>
                <th>Предмет</th>
            </tr>
        </thead>
        <tbody>
            {% for lesson in group.grade.lessons.all %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'score_lesson' group.id lesson.id %}"> {{ lesson }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>