{% extends "base.html" %}

{% block title %}Список класів{% endblock %}

{% block content %}
<h1>Список журналів по навчальних класах</h1>
<!--<ul>-->
<!--    {% for item in rating %}-->
<!--    <li>{{ item }}</li>-->
<!--    {% endfor %}-->
<!--</ul>-->


<table class="table table-bordered">
    <thead>
    <tr>
        <th>Заняття</th>
        <th>Мітка</th>
        <th>Тема Заняття</th>
        <th>Дата</th>
        <th>Оцінка</th>
        <th>Вчитель</th>
    </tr>
    </thead>
    <tbody>
    {% for item in rating %}
    <tr>
        <td>{{item.name}}</td>
        <td>{{item.mark}}</td>
        <td>{{item.topik}}</td>
        <td>{{item.created_at}}</td>
        <td>{{item.rating}}</td>
        <td>{{item.techer}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}