{% extends "base.html" %}

{% block title %}Журнал{% endblock %}

{% block content %}
<h1>Заняття {{rating.0.name}}</h1>


<table class="table table-bordered">
    <thead>
    <tr>
        <th>Тема Уроку</th>
        <th>Дата</th>
        <th>Оцінка</th>
        <th>Вчитель</th>
    </tr>
    </thead>
    <tbody>
    {% for item in rating %}
    <tr>
        <td>{{item.topik}}</td>
        <td>{{item.created_at}}</td>
        <td>{% if item.rating == 0 %} <b>н/н</b> {% elif item.rating == 13 %} <b></b> {% else %} {{item.rating}} {% endif%}
        </td>
        <td>{{item.teacher}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}